body{
    background-image: url("images\\bg-256.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    height: 100%;
}

#DUM, #DPP, #IG{
    border-radius: 6px;
    padding: 10px 0 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgb(14, 52, 122);
    width: 80%;
    text-align: center;
}

#DUM{
    margin: 20px auto 10px auto;
}

#DPP{
    margin: 20px auto 10px auto;
}

#IG{
    margin: 20px auto 10px auto;
}

#dia, #mes, #ano {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(199, 217, 226);
    padding: 10px 0 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: white;
    opacity: 90%;
    width: 35%;
    text-align: center;
}

select{
    text-align-last:center;
}

#dia{
    margin: 0 0 20px auto;
    width: 20%;
}

#mes{
    margin: 0 5px 20px 5px;
}

#ano{
    margin: 0 auto 20px 0;
    width: 20%;
}

#calcular{
    border-radius: 100%;
    border-width: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight:500;
    color: white;
    background-color: rgb(14, 52, 122);
    width: 130px;
    height: 130px;
    margin: auto;
    text-align: center;
}

#centerInputs{
    margin: auto;
    text-align: center;
}

#igResultado, #dppResultado {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(199, 217, 226);
    padding: 10px 0 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(14, 52, 122);
    font-weight: bold;
    background-color: white;
    opacity: 90%;
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    text-decoration:none;
}

#scroll{
    width: 100%;
    margin: 20px auto 10px auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(14, 52, 122);
    padding: 0 0 20px 0;
}

#scroll img{
    width: 30px;
}

.youtubeFrame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: 50px;
}

.youtubeFrame iframe{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

#footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: rgb(14, 52, 122);
    color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
}
/*
#ads{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
*/